.blue {
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: lightblue;
    text-align: center;
}

/* Internal CSS */




.red {
    color: rgb(28, 13, 13);
    font-family: 'Handjet', cursive;
    font-size: 30px;
    background-color: rgb(110, 221, 221);
    text-align: right;
}

body {
   
    
    padding: 10px;
    background-color: #aeeae9;
  }

  .page-setup {
    width: 400px;
    background-color: rgb(139, 234, 255);
    border-radius: 20px;
    
    padding: 50px;
    margin: 50px auto;
  }
  

  .page-size {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .page-margins {
   
    margin-top: 10px;
  }

  .page-margin {
    width: 100%;
    margin-top: 10px;
  }

  .page-color {
    margin-top: 10px;
  }

  .page-color label {
    
    margin-bottom: 10px;
    font-weight: bold;
  }

  .page-color input[type="color"] {
    width: 50%;
    height: 30px;
   
    
  }

  
  .page-orientation {
    margin-top: 20px;
    margin-left: 20px;
  }

  .page-orientation label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  